/* your beautiful css styling goes here! */
svg .enemies {
  fill: red;
}/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

svg #player {
  fill: black;
}

svg .update { 
  fill: red;
  transform-origin: 193px 164px;
  animation: spin 4s cubic-bezier(.49, .05, .32, 1.04) infinite alternate;
}

@keyframes spin {
  50% {
    transform: rotate(360deg);
  }
}