
/* your beautiful css styling goes here! */
.enemies {
  position: absolute;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
  transform-origin: 50% 50%;
}

svg #player {
  fill: black;
  border: 2px solid black;
}

svg .update { 
  fill: red;
}

svg {
  background: url('http://img05.deviantart.net/2fda/i/2014/060/0/0/background_naruto_by_nitopfam-d78kh4e.png');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

.scoreboard {
  left: 30px;
  top: 20px;
  position: absolute;
  background-color: rgba(255,255,255,.5);
  padding: 5px;
  border-radius: 5px;
  font-family: 'Cabin', sans-serif;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
/*@keyframes spin {
  100% {
    transform: rotate(0deg);

  }
  100% {
    transform: rotate(360deg);

  }
}*/